<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Basketball Team</title>
  </head>
  <body>
    <p>Team Name: <%= @name %></p>
    <br>
    <p>Coach: <%= @coach %></p>
    <br>
    <p>Point Guard: <%= @pg %></p>
    <br>
    <p>Shooting Guard: <%= @sg %></p>
    <br>
    <p>Small Forward: <%= @sf %></p>
    <br>
    <p>Power Forward: <%= @pf %></p>
    <br>
    <p>Center: <%= @c %></p>
    <br>
  </body>
</html>
